<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title></title>
</head>
<body>
	<div class="main-content">
		{{>header}}

		<img src="/img/rob.png">

		<p>Hi I am Robo Admin, it is my pleasure to help you with weather forecast. Let us
		figure out if you should head out or not. :)</p>
	</div>
   

	{{>footer}}

</body>
</html>