<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title></title>
</head>
<body>
	<div class="main-content">
		{{>header}}

		<p>You can reach me thru <em>pinlac.johncarlo@gmail.com</em> for inquiries.</p>

	</div>

	{{>footer}}
</body>
</html>