<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title></title>
</head>
<body>
	<div class="main-content">
		{{>header}}

		<form>
			<input type="text" placeholder="enter location">
			<button>Search</button>
		</form>

		<p id="message-1"></p>
		<p id="message-2"></p>

	</div>

    {{>footer}}

    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html> 